/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #121212;
     font-size: 18px;
     line-height: 1.6;
     font-family: 'Lato', Helvetica, Arial, sans-serif;
     font-weight: 300;
}

a:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
body {
	width: 100%;
  height:100%;
	margin: 0;
  padding: 0;
}

#container{
  width: 1080px;
  margin: 0 auto;
  margin-top: 80px;

}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1 a {
  font-size: 50px;
  color: #ff0000;
}

h2{
  font-size: 25px;
  color: #666;
}


h2 a{
  font-size: 35px;
  color: #000000;
}



nav a{
  font-size: 25px;
  color: #ccc;
  text-decoration: underline;
  border: 0 1px 0 0;
}

h3{
  font-size: 40px;
  color: #ccc;
  margin-top: 30px;
}

h4 a{
  font-size: 20px;
  color: #ff0000;
  font-weight: 400;
  float: right;

}

h5 a{
  font-size: 20px;
  color: red;
  float: right;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  color: grey;
  padding-bottom: 30px;
  font-weight: bold;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.content{
  margin-top: 20px;
}

.cap{
  float: left;
  font-size: 100px;
  margin-top: -9px;
  margin-right: 20px;
  color: #ccc;
  line-height: 121px;
  }

.title{
  float: left;
}

.slogan{
  position: absolute;
  margin-top: 23px;
  margin-left: 270px;
}

nav{
  clear: both;
}

.button{
  display: block;
  width: 180px;
  height: 60px;
  background-color: black;
  float: left;
  border-right: 1px solid #fff;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
}

.left{
  width: 65%;
  float: left;
}

.right{
  width: 30%;
  float: right;
  margin-top: 90px;

}

article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
}

.ad {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

.popular{
  padding-top: 30px;
}

footer{
  clear: both;
  padding: 40px 0;
}

.footerLinks li{
  float: left;
  display: block;
  color: red;
  padding: 0 15px;
  border-right: 2px solid #ccc;
  line-height: 14px;
}

.footerLinks li:first-child{
  padding: 0 15px 0 0;
}

.footerLinks li:last-child{
  border-right: 0px;
}

.company{
  clear: both;
  color: #ccc;
  padding-top: 30px
}


.posts {
  color: red;
  list-style-image: url('../images/circle.jpg');
  padding-left: 40px;
}
