/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/




@import 'base/base.css';

/******************************************
/* LAYOUT
/*******************************************/

@import 'comp/slider.css';


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


#navContainer{
  display: none;
  /*position: absolute;*/
  width: 300px;
  height: 942px;
  background-color: #666;
  float: left;
  /*z-index: 20;*/


}


#hamburger{
  position: absolute;
  margin: 20px 20px;
  height: 45px;
  width: 40px;
  z-index: 4;


}


#navContainer:active{
  width: 300px;
  -webkit-transition: all 1.2s; /* Safari */
  transition: width 1.2s;

}
